{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>NexusMap-Administrar rutas</title>

  <!-- Custom fonts for this template-->
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">

  <!--link para estilos-->
  <link rel="stylesheet" href="{% static 'css/estilo.css' %}" media="screen">

  <!-- Material Design Bootstrap -->
  <link href="{% static 'css/mdb-steppers.css' %}" rel="stylesheet">
</head>

<body id="page-top" class="sidebar-toggled">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="side-nav fixed navbar-nav bg-gradient-primary sidebar sidebar-dark accordion toggled" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <li>
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'index' %}">
          <div class="sidebar-brand-icon rotate-n-15">
            <i class="far fa-map"></i>
          </div>
          <div class="sidebar-brand-text mx-3">NexusMap</div>
        </a>
      </li>

      <!-- Divider -->
      <li>
        <hr class="sidebar-divider my-0">
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'index' %}">
          <i class="fas fa-fw fa-home"></i>
          <span>Inicio</span></a>
      </li>

      <!-- Divider -->
      <li>
        <hr class="sidebar-divider">
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'view_events' %}">
          <i class="fas fa-fw fa-calendar-alt"></i>
          <span>Eventos</span></a>
      </li>

      <!-- Divider -->
      <li>
        <hr class="sidebar-divider">
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'contacts' %}">
          <i class="fa fa-list-ul"></i>
          <span>Contactos</span></a>
      </li>

      <li>
        <hr class="sidebar-divider">
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'quehacemos' %}">
          <i class="fa fa-question"></i>
          <span>Qué hacemos </span></a>
      </li>

      <li>
        <hr class="sidebar-divider">
      </li>


      <!-- Divider -->
      <li>
        <hr class="sidebar-divider my-0">
      </li>

      <!-- Administrar usuarios -->
      <li class="nav-item">
        <a class="nav-link" href="{% url 'admin_users' %}">
          <i class="fa fa-user-cog"></i>
          <span>Administrar usuarios</span>
        </a>
      </li>
      <li>
        <hr class="sidebar-divider">
      </li>

      <!-- Administrar sitios -->
      <li class="nav-item">
        <a class="nav-link" href="{% url 'admin_places' %}">
          <i class="fa fa-map-marker-alt"></i>
          <span>Administrar lugares</span>
        </a>
      </li>
      <li>
        <hr class="sidebar-divider">
      </li>

      <!-- Administrar eventos -->
      <li class="nav-item">
        <a class="nav-link" href="{% url 'admin_events' %}">
          <i class="fa fa-calendar"></i>
          <span>Administrar eventos</span>
        </a>
      </li>
      <li>
        <hr class="sidebar-divider">
      </li>

      <!-- Administrar rutas -->
      <li class="nav-item">
        <a class="nav-link" href="{% url 'admin_add_route' %}">
          <i class="fa fa-route"></i>
          <span>Administrar rutas</span>
        </a>
      </li>
      <li>
        <hr class="sidebar-divider">
      </li>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button v-on:click="toggleSidebar" id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>


          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="{% url 'login' %}" data-toggle="dropdown" id="userDropdown" role="button">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Iniciar sesión</span>
                <i class="fas fa-user-circle"></i>
              </a>
              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="{% url 'user_profile' %}">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  Perfil
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Cerrar sesión
                </a>
              </div>
            </li>

          </ul>

        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="page-content">

          <div class="row">
            <div class="col">
              <h2>Rutas</h2>

              <!-- Vertical Steppers -->
              <div class="row mt-1">
                <div class="col-md-12">

                  <!-- Stepers Wrapper -->
                  <ul class="stepper stepper-vertical">

                    <!-- First Step -->
                    <li v-bind:class="{active: onStep(1), warning: errorsA}">
                      <a href="#">
                        <span class="circle">1</span>
                        <span class="label">Escoja un punto de origen</span>
                      </a>

                      <transition name="slide-fade">
                        <!-- Section 1 -->
                        <div v-if="onStep(1)" class="step-content grey lighten-3">
                          <p v-if="errorsA" class="text-danger">Escoja un punto de origen de la lista</p>
                          <div class="form-group">
                            <label for="source">Origen</label>
                            <select v-model="chosenSourceIndex" class="custom-select" name="source" id="source">
                              {% verbatim %}
                                <option v-for="(v,k) in waypoints" v-bind:value="k">{{v.name}}</option>
                              {% endverbatim %}
                            </select>
                          </div>
                        </div>
                      </transition>
                    </li>

                    <!-- Second Step -->
                    <li v-bind:class="{active: onStep(2)}">

                      <!--Section Title -->
                      <a href="#">
                        <span class="circle">2</span>
                        <span class="label">Revise las rutas existentes</span>
                      </a>

                      <transition name="slide-fade">
                        <!-- Section Description -->
                        <div v-if="onStep(2)" class="step-content grey lighten-3">
                          <ul>
                            {% verbatim %}
                              <li v-for="neigh in neighborsOfChosen">{{chosenSource.name}} → {{waypoints[neigh.target_pk].name}} ({{neigh.distance}} metros)</li>
                            {% endverbatim %}
                          </ul>
                        </div>
                      </transition>
                    </li>

                    <!-- Third Step -->
                    <li v-bind:class="{active: onStep(3), warning: errorsC}">

                      <!--Section Title -->
                      <a href="#">
                        <span class="circle">3</span>
                        <span class="label">Agregue rutas nuevas</span>
                      </a>

                      <transition name="slide-fade">
                        <!-- Section Description -->
                        <div v-if="onStep(3)" class="step-content grey lighten-3">
                          <p v-if="errorsC" class="text-danger">Escoja un punto de destino de la lista e ingrese una distancia</p>
                          <div class="form-group">
                            <label for="sourceName">Origen</label>
                            <input type="text" v-model="sourceName" class="form-control" id="sourceName" readonly>
                          </div>
                          <div class="form-group">
                            <label for="target">Destino</label>
                            <select form="form" v-model="chosenTargetIndex" class="custom-select" name="target" id="target">
                              {% verbatim %}
                                <option v-for="x in notNeighborsOfChosen" v-bind:value="x">{{waypoints[x].name}}</option>
                              {% endverbatim %}
                            </select>
                          </div>
                          <div class="form-group">
                            <label for="dist">Distancia</label>
                            <input form="form" v-model="dist" class="form-control" type="number" name="dist" id="dist">
                          </div>

                          <button form="form" v-if="onLast" class="btn btn-success" type="submit">Guardar</button>
                        </div>
                      </transition>
                    </li>
                  </ul>
                  <!-- /.Stepers Wrapper -->

                </div>
              </div>

              <!-- Steppers Navigation -->
              <div class="row mt-1">
                <div class="col-md-12 text-right">
                  <button v-if="!onFirst" v-on:click="prevStep" class="btn btn-primary" v-bind:disabled="onFirst">Anterior</button>
                  <button v-if="!onLast" v-on:click="nextStep" class="btn btn-primary">Siguiente</button>
                </div>
              </div>

              <form id="form" v-on:submit.prevent="saveNewRoute"></form>
                <!-- /.Vertical Steppers -->
            </div>
          </div>
        </div>
        <!-- /.container-fluid -->
      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer ">
        <div class=" py-2 container my-auto">
          <div class="copyright text-center my-auto">
            Contáctenos: <a href="#">@NexusMap</a>
          </div>
        </div>
        <div class="container my-auto">
          <div class="copyright text-center my-auto ">
            <a class="px-5" href="{% url 'aboutus' %}">Acerca de nosotros</a>
            <a class="px-5" href="{% url 'team' %}">Equipo</a>
            <a class="px-5" href="{% url 'news' %}">Noticias</a>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">¿Cerrar sesi&oacute;n?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Confirme si desea cerrar su sesi&oacute;n.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
          <a class="btn btn-primary" href="#">Cerrar sesi&oacute;n</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Tempus Dominus (prev. Eonasdan/bootstrap-datetimepicker) plugin -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />

  <!-- Core plugin JavaScript-->
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

  <!-- MDB core JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.2/js/mdb.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/vue"> </script>
  <script src="{% static 'js/base.js' %}"></script>
  <script src="{% static 'js/admin-routes-script.js' %}"></script>

  <!-- Page level plugins -->
  <script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>

</body>

</html>
