{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>NexusMap</title>

  <!-- Custom fonts for this template-->
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">

  <!--Aplicar iconos de google-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!--link para estilos-->
  <link rel="stylesheet" href="{% static 'css/estilo.css' %}" media="screen">

  <!--Mapa-->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin="" />
  <!-- Make sure you put this AFTER Leaflet's CSS -->
  <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js" integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og==" crossorigin=""></script>
  <!-- intro.js CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intro.js/2.9.3/introjs.css">

</head>

<body id="page-top" class="sidebar-toggled">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion toggled" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <li>
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'index' %}">
          <div class="sidebar-brand-icon rotate-n-15">
            <i class="far fa-map"></i>
          </div>
          <div class="sidebar-brand-text mx-3">NexusMap</div>
        </a>
      </li>

      <!-- Divider -->
      <li>
        <hr class="sidebar-divider my-0">
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'index' %}">
          <i class="fas fa-fw fa-home"></i>
          <span>Inicio</span></a>
      </li>

      <!-- Divider -->
      <li>
        <hr class="sidebar-divider">
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'view_events' %}">
          <i class="fas fa-fw fa-calendar-alt"></i>
          <span>Eventos</span></a>
      </li>

      <!-- Divider -->
      <li>
        <hr class="sidebar-divider">
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'contacts' %}">
          <i class="fa fa-list-ul"></i>
          <span>Contactos</span></a>
      </li>

      <li>
        <hr class="sidebar-divider">
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'quehacemos' %}">
          <i class="fa fa-question"></i>
          <span>Qué hacemos </span></a>
      </li>

      <!-- Divider -->
      <li>
        <hr class="sidebar-divider my-0">
      </li>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          <!-- Topbar Search -->
          <form v-on:submit.prevent="searchPlacesA" class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search" data-intro="Busque puntos de interés aquí" data-step="1">
            <div class="input-group">
              <input id="searchPlacesA" type="text" class="form-control bg-light border-0 small" placeholder="Buscar lugar..." aria-label="Search">
              <div class="input-group-append">
                <button class="btn btn-primary" type="submit">
                  <i class="fas fa-search fa-sm"></i>
                </button>
              </div>
            </div>
          </form>

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">

            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
            <li class="nav-item dropdown no-arrow d-sm-none">
              <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
              </a>
              <!-- Dropdown - Messages -->
              <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                <form v-on:submit.prevent="searchPlacesB" class="form-inline mr-auto w-100 navbar-search">
                  <div class="input-group">
                    <input id="searchPlacesB" type="text" class="form-control bg-light border-0 small" placeholder="Buscar lugar..." aria-label="Search">
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="submit">
                        <i class="fas fa-search fa-sm"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </li>

            <li class="nav-item" id="admin-button" style="display: none;">
              <a class="nav-link" href="{% url 'admin_home' %}">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Administrador</span>
                <i class="fas fa-cog"></i>
              </a>
            </li>

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="{% url 'login' %}" data-toggle="dropdown" id="userDropdown" role="button">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Iniciar sesión</span>
                <i class="fas fa-user-circle"></i>
              </a>
              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="{% url 'user_profile' %}">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  Perfil
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Cerrar sesión
                </a>
              </div>
            </li>

          </ul>

        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="page-content">

          <!-- Page Heading -->
          <h1 class="h3 mb-4 text-gray-800">Inicio</h1>

          <div id="welcome" class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
              <h6 class="m-0 font-weight-bold text-primary">Bienvenido a Inicio</h6>
              <div class="dropdown no-arrow">
                <a id="close-well" href="#" class="btn btn-danger btn-circle btn-sm">
                  <i class="fa fa-minus"></i>
                </a>
              </div>
            </div>
            <!-- Card Body -->
            <div class="card-body">
              <div class="row">
                <div class="col mr-6">
                  <h2 class="h4 mb-1 text-gray-800">¿Qué hay aquí?</h2>
                  En esta página se puede:
                  <ul>
                    <li>Ver y buscar sitios de interés</li>
                    <li>Ver instrucciones para llegar a un sitio</li>
                    <li>Ver la lista de clases de hoy y el tiempo que falta para cada una</li>
                  </ul>
                  Revisa la <a href="#" onclick="introJs().start()">visita guiada</a> para más detalles.
                </div>
              </div>
            </div>
          </div>

          <section id="googlemap" data-intro="Este es el mapa. Contiene su ubicación actual y puntos de interés." data-step="2">
            <h2 class="mb-2">Mapa</h2>
            <p>// DEBUG: ver <a href="https://developers.google.com/web/tools/chrome-devtools/device-mode/geolocation">aquí</a> para cómo usar datos de geolocalización falsos</p>
            <div id="mapid" class="card shadow"></div>
            <!--img src="imagenes/mapa_example.jpg" alt=""-->
          </section>

          <section id="tabla_clases">
            <h2>Mis Clases</h2>
            <div class="alert alert-primary">No hay clases hoy</div>
            <table class="table table-hover" data-intro="Elija una clase aquí para ver el tiempo restante." data-step="3">
              <thead>
                <tr>
                  <th></th>
                  <th scope="col">Clase</th>
                  <th scope="col">Hora de inicio</th>
                  <th scope="col" data-intro="Las celdas de abajo indican si la clase ya ha iniciado." data-step="4">¿Iniciada?</th>
                </tr>
              </thead>
              <tr style="display: none!important" id="class-session-template" data-index="-1" onclick="changeTargetClass(-1)">
                <td></td>
                <td>&Aacute;lgebra Lineal</td>
                <td>9:30</td>
                <td>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" name="alg" id="alg" disabled class="custom-control-input">
                    <label class="custom-control-label"></label>
                  </div>
                </td>
              </tr>
            </table>
            <p>
              Haga clic <a href="#" data-toggle="modal" data-target="#uploadCalModal">aquí</a> para subir un calendario ICS.
            </p>
          </section>

          <section id="barra_progreso">
            <h2>Tiempo restante <span id="monitored_class"></span></h2>
            <div class="row">
              <div class="progress col-sm-9" id="progress_bar_container" data-intro="Esta barra indica el tiempo restante para la clase seleccionada." data-step="5">
                <!-- <div class="progress-bar" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
          <div class="progress-bar bg-success" role="progressbar" style="width: 15%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div> -->
              </div>
              <div class="col-sm-3">
                <input type="text" disabled id="minutes_left" data-intro="Este campo indica el tiempo restante (en minutos) para la clase seleccionada." data-step="6">
              </div>
            </div>
          </section>
        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer ">
        <div class=" py-2 container my-auto">
          <div class="copyright text-center my-auto">
            Contáctenos: <a href="{% url 'contactus' %}">NexusMap</a>
            |
            <a href="#" onclick="introJs().start()">Visita guiada</a>
          </div>
        </div>
        <div class="container my-auto">
          <div class="copyright text-center my-auto ">
            <a class="px-5" href="{% url 'aboutus' %}">Acerca de nosotros</a>
            <a class="px-5" href="{% url 'team' %}">Equipo</a>
            <a class="px-5" href="{% url 'news' %}">Noticias</a>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Upload Calendar Modal-->
  <div class="modal fade" id="uploadCalModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Subir calendario</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Escoja un archivo .ics generado por el Académico para establecer su lista de clases.</p>
          <p class="text-danger">¡Esto reemplazará su lista actual de clases!</p>
          <form id="uploadCalForm" enctype="multipart/form-data" method="post">
            <input type="hidden" name="username" id="username">
            <input type="hidden" name="password" id="password">
            <input type="hidden" name="backurl" id="backurl">
            <div class="form-group">
              <label for="file">Archivo .ics</label>
              <input type="file" accept=".ics" class="form-control-file" id="file" name="file">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <input type="submit" class="btn btn-primary" form="uploadCalForm" value="Subir" />
        </div>
      </div>
    </div>
  </div>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">¿Cerrar sesi&oacute;n?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Confirme si desea cerrar su sesi&oacute;n.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
          <a class="btn btn-primary" href="#">Cerrar sesi&oacute;n</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <!-- notify.js library -->
  <script src="{% static 'js/notify.min.js' %}"></script>
  <script src="{% static 'js/interaction.js' %}"></script>
  <script src="{% static 'js/base.js' %}"></script>
  <script src="{% static 'js/script.js' %}"></script>

  <!-- intro.js JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/intro.js/2.9.3/intro.js"></script>

</body>

</html>
