{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>NexusMap</title>

  <!-- Custom fonts for this template-->
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="{% static 'css/sb-admin-2.css' %}" rel="stylesheet">

  <link rel="stylesheet" href="{% static 'css/estilo.css' %}" media="screen">



</head>

<body id="page-top" class="sidebar-toggled">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion toggled" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <li>
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'index' %}">
          <div class="sidebar-brand-icon rotate-n-15">
            <i class="far fa-map"></i>
          </div>
          <div class="sidebar-brand-text mx-3">NexusMap</div>
        </a>
      </li>

      <!-- Divider -->
      <li>
        <hr class="sidebar-divider my-0">
      </li>

      <!-- Nav Item - Dashboard -->
      <li class="nav-item">
        <a class="nav-link" href="{% url 'index' %}">
          <i class="fas fa-fw fa-home"></i>
          <span>Inicio</span></a>
      </li>

      <!-- Divider -->
      <li>
        <hr class="sidebar-divider">
      </li>

      <!-- Nav Item - Dashboard -->
      <li class="nav-item">
        <a class="nav-link" href="{% url 'view_events' %}">
          <i class="fas fa-fw fa-calendar-alt"></i>
          <span>Eventos</span></a>
      </li>



      <!-- Divider -->
      <li>
        <hr class="sidebar-divider">
      </li>

      <!-- Nav Item - Dashboard -->
      <li class="nav-item">
        <a class="nav-link" href="{% url 'contacts' %}">
          <i class="fa fa-list-ul"></i>
          <span>Contactos</span></a>
      </li>

      <li>
        <hr class="sidebar-divider">
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'quehacemos' %}">
          <i class="fa fa-question"></i>
          <span> Qué hacemos </span></a>
      </li>

      <!-- Divider -->
      <li>
        <hr class="sidebar-divider my-0">
      </li>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>



          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">
            <li class="nav-item" id="admin-button" style="display: none;">
              <a class="nav-link" href="{% url 'admin_home' %}">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Administrador</span>
                <i class="fas fa-cog"></i>
              </a>
            </li>

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Iniciar Sesión</span>
                <i class="fas fa-user-circle"></i>
              </a>
              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="{% url 'user_profile' %}">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  Perfil
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Cerrar Sesión
                </a>
              </div>
            </li>
          </ul>
        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="page-content">

          <!-- Page Heading -->
          <h1 class="h3 mb-4 text-gray-800">¿Qué hacemos?</h1>

          <!-- /.container-fluid -->
          <div id="aboutWebPage" class="card shadow mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
              <h3 class="m-0 font-weight-bold text-primary">Conoce el sitio web</h3>
            </div>
            <div class="card-body text-justify">
              <div class="row">
                <div class="col mr-6">
                  <p class="mb-1">Este sitio web te permitirá ubicarte dentro de las instalaciones de la ESPOL especialmente si eres novato o un visitante que no conoce nada sobre la universidad aquí encontrarás las siguientes funcionalidades
                    generales: </p>
                  <ul class="mb-1">
                    <li class="mb-1">Búsqueda de un lugar en específico que será mostrado en un mapa incluyendo la ruta a seguir para llegar al destino deseado en base a tu ubicación actual.</li>
                    <li class="mb-1">Lista de eventos próximos a realizarse en la ESPOL, además de la posibilidad de buscar un evento específico ya sea por nombre o fecha.
                    </li>
                  </ul>
                  <p class="mb-1">
                    Si eres un estudiante y deseas sincronizar tus horarios y actividades debes crearte una cuenta y subir tu horario de clases actual, se mostrará el tiempo restante para la actividad más cercana y se enviarán notificaciones cuando
                    alguna actividad se encuentra cerca de iniciar. Por otro lado con tu cuenta podrás ponerte en contacto con tus compañeros para crear grupos y conversar con ellos en línea e incluse solicitar su ubicación para saber como llegar a
                    un lugar en específico.
                    Si eres un visitante o estudiante y posees una cuenta podrás guardar tus eventos y se enviarán diferentes notificaciones para que puedas estar pendiente de la hora, lugar y fecha del evento que te interesa.
                  </p>
                </div>
                <div class="col mr-6 hideThis">
                  <img class="img-welcome img-thumbnail" src="{% static 'img/process.png' %}" alt="proceso">
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer ">
        <div class=" py-2 container my-auto">
          <div class="copyright text-center my-auto">
            Contáctenos: <a href="{% url 'contactus' %}">NexusMap</a>
          </div>
        </div>
        <div class="container my-auto">
          <div class="copyright text-center my-auto ">
            <a class="px-5" href="{% url 'aboutus' %}">Acerca de nosotros</a>
            <a class="px-5" href="{% url 'team' %}">Equipo</a>
            <a class="px-5" href="{% url 'news' %}">Noticias</a>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">¿Cerrar sesi&oacute;n?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Confirme si desea cerrar su sesi&oacute;n.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
          <a class="btn btn-primary" href="#">Cerrar sesi&oacute;n</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{% static 'js/sb-admin-2.min.js' %}"></script>
  <script src="{% static 'js/notify.min.js' %}"></script>

  <!-- Hace la Magia-->
  <script src="{% static 'js/base.js' %}"></script>

</body>

</html>
